.button {
  padding: 8px;
  width: 360px;
  height: 40px;
  border-radius: 10px;
  background-color: #fff;
  color: #4338ca;
  font-weight: bold;
  font-size: 16px;
  border: 2px solid #4338ca;
  cursor: pointer;
  transition: all 0.5s ease;
  &:hover {
    border: none;
    color: white;
    background: linear-gradient(50deg, #4338ca 30%, #ad38ca 80%);
  }
}
