.mainContainer {
  margin: 50px auto;
}

.title {
  display: flex;
  justify-content: center;
  font-size: 240%;
}
.firstParagraph {
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    font-size: 125%;
  }
}
.secondParagraph {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageContainer {
  display: flex;
  justify-content: center;
  padding: 48px 0 48px 0;
}

.image {
  width: 370px;
  height: 220px;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
