.profileContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  margin-top: 128px;
  div {
    font-size: 120%;
  }
}

.infoContainer {
  padding-top: 40px;
}
