.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.containerAge {
  display: flex;
  flex-direction: column;
  width: 300px;
  color: #4f4f4f;
  input {
    margin-top: 8px;
    border-radius: 5px;
    padding: 8px;
    border: 1px solid #c2c2c2c2;
    box-shadow: 0px 4px 6px -1px #0000001a;
  }
}

.containerGender {
  display: flex;
  flex-direction: column;
  width: 300px;
  color: #4f4f4f;
  select {
    margin-top: 8px;
    border-radius: 5px;
    padding: 8px;
    border: 1px solid #c2c2c2c2;
    box-shadow: 0px 4px 6px -1px #0000001a;
  }
}

.containerWeight {
  display: flex;
  flex-direction: column;
  width: 300px;
  color: #4f4f4f;
  input {
    margin-top: 8px;
    border-radius: 5px;
    padding: 8px;
    border: 1px solid #c2c2c2c2;
    box-shadow: 0px 4px 6px -1px #0000001a;
  }
}

.containerHeight {
  display: flex;
  flex-direction: column;
  width: 300px;
  color: #4f4f4f;
  input {
    margin-top: 8px;
    border-radius: 5px;
    padding: 8px;
    border: 1px solid #c2c2c2c2;
    box-shadow: 0px 4px 6px -1px #0000001a;
  }
}

.containerActivity {
  display: flex;
  flex-direction: column;
  width: 300px;
  color: #4f4f4f;
  select {
    margin-top: 8px;
    border-radius: 5px;
    padding: 8px;
    border: 1px solid #c2c2c2c2;
    box-shadow: 0px 4px 6px -1px #0000001a;
  }
}

.containerButton {
  padding: 8px;
  width: 300px;
  height: 35px;
  border-radius: 10px;
  border: none;
  background-color: #4338ca;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.5s ease;
  &:hover {
    background: linear-gradient(50deg, #4338ca 30%, #ad38ca 80%);
    color: white;
  }
}

.message {
  font-size: 130%;
}
