.mainContainer {
  display: flex;
  justify-content: center;
}

.secondContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-top: 48px;
  width: 500px;
  padding: 16px 32px 16px 32px;
  @media only screen and (max-width: 390px) {
    width: 350px;
    box-sizing: border-box;
    gap: 4px;
  }
}

.exerciseMuscleType {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 110%;
  gap: 8px;
}

.exerciseImage {
  object-fit: contain;
  @media only screen and (max-width: 390px) {
    width: 250px;
    height: 200px;
  }
}

.instruction {
  font-weight: bold;
  @media only screen and (max-width: 390px) {
    width: 350px;
    box-sizing: border-box;
  }
}

.exerciseInstruction {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  margin: 0 auto;
  p {
    text-align: justify;
  }
  @media only screen and (max-width: 390px) {
    width: 280px;
    box-sizing: border-box;
  }
}
