.mainContainer {
  display: flex;
  justify-content: center;
}

.secondContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-top: 48px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 20px;
  width: 500px;
  padding: 16px 32px 16px 32px;
}

.exerciseMuscleType {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 110%;
  gap: 8px;
}

.exerciseImage {
  object-fit: contain;
}

.instruction {
  font-weight: bold;
}

.exerciseInstruction {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  margin: 0 auto;
  p {
    text-align: justify;
  }
}
