.exerciseDeleteButtonContainer {
  display: flex;
  flex-flow: row-reverse;
  button {
    padding: 8px;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: #4338ca;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    &:hover {
      background: linear-gradient(50deg, #4338ca 30%, #ad38ca 80%);
      color: white;
      transition: all 0.5s ease;
      transform: scale(0.95);
    }
  }
}
